<% content_for(:name, "Products") %>
<h1>This is the landing page</h1>

<h2>These are the currently featured products</h2>

<% @lastproducts.each do |product| %>
  <div class="well"><%= link_to product.name, product_path(product) %> </div>
<% end %>


<hr>
<h2>This is the most reviewed product</h2>


<div class="well"><%= link_to @mostreviewed.name, product_path(@mostreviewed) %> </div>
