<% content_for(:name, "Products") %>
<h1>This is the landing page</h1>

<h2>These are the currently featured products</h2>

<% @lastproducts.each do |product| %>
  <div class="well"><%= link_to product.name, product_path(product) %> </div>
  <% end %>
